
@{
    ViewBag.Title = "首页";
    Layout = "~/Views/_Layout_index.cshtml";
}
<!--轮播图-->
<div class="fullSlide">
    <div class="bd">
        <ul style="position: relative; width: 1157px; height: 418px;">
            <li style="position: absolute; width: 1157px; left: 0px; top: 0px; display: none; background: url('/Content/img/PC_banner1.jpg') 50% 0px no-repeat rgb(226, 2, 94);">
                <a href="@Url.Action("IntroShebao","index")" target="_blank"></a>
            </li>
            <li style="position: absolute; width: 1157px; left: 0px; top: 0px; display: none; background: url('/Content/img/PC_banner2.jpg') 50% 0px no-repeat rgb(222, 213, 161);">
                <a href="@Url.Action("IntroWuyou","index")" target="_blank"></a>
            </li>
            <li style="position: absolute; width: 1157px; left: 0px; top: 0px; display: none; background: url('/Content/img/PC_banner3.jpg') 50% 0px no-repeat rgb(184, 206, 209);">
                <a href="@Url.Action("IntroBuy","index")" target="_blank"></a>
            </li>
        </ul>
    </div>
    <div class="hd">
        <ul></ul>
    </div>
    <span class="prev" style="opacity: 0.5; display: none;"></span>
    <span class="next" style="opacity: 0.5; display: none;"></span>
</div>
<!--三等分-->
<div class="avgBox-w bg-lightgrey">
    <div class="container">
        <ul class="am-margin-bottom-0 clearfix list-unstyled">
            <li>
                <a href="@Url.Action("Add1","UserInsurance")" class="text-center am-padding-vertical-xl black border-blue">
                    <i class="icon-w icon-lg-shebao"></i>
                    <div class="am-padding-top">缴社保</div>
                    <div class="am-text-xs grey">
                        Pay social security
                    </div>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Loan","Loan")" class="text-center am-padding-vertical-xl black border-red">
                    <i class="icon-w icon-lg-loan"></i>
                    <div class="am-padding-top">贷款</div>
                    <div class="am-text-xs grey">
                        The loans
                    </div>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Calculator","Calculator")" class="text-center am-padding-vertical-xl black border-green">
                    <i class="icon-w icon-lg-calculator"></i>
                    <div class="am-padding-top">保费计算</div>
                    <div class="am-text-xs grey">
                        Premium calculation
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
<!--社保大厅-->
<div class="am-padding-vertical-xl">
    <div class="container">
        <div class="pull-left">
            <div class="am-text-xl green am-padding-top-xl">
                <span class="">
                    在线社保大厅
                </span>
                <span class="am-padding-left-lg">
                    全国社保自由缴
                </span>
            </div>
            <div class="am-padding-vertical-lg am-text-default grey">
                互联网定制化社保服务，为中小微企业而生
            </div>
            <ul class="list-unstyled grey">
                <li class="am-padding-xs">全国400+城市网点覆盖,随时随地在线社保;</li>
                <li class="am-padding-xs">资料云端递交,服务准确率高达99.99%</li>
                <li class="am-padding-xs">标准化社保动作,繁琐事务一键搞定;</li>
                <li class="am-padding-xs">打破行业底价,服务价格低至9.9元/月</li>
                <li class="am-padding-xs">数据全程加密,信息安全有保障.</li>
            </ul>
            <div class="am-padding-top-lg">
                <a class="btn btn-default am-padding-horizontal-xl" href="@Url.Action("Login","User")" role="button">了解更多</a>
            </div>
        </div>
        <div class="pull-right">
            <img src="~/Content/img/home-cup.jpg" width="524" height="402" />
        </div>
    </div>
</div>
<!--新闻列表-->
<div class="newsBox-w bg-lightgrey am-padding-lg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="news-head-w clearfix">
                    <div class="pull-left">
                        <div class="title black am-text-lg am-padding-vertical-sm am-padding-right-lg">
                            最新新闻
                        </div>
                    </div>
                    <div class="pull-right am-padding-top-lg">
                        <a href="@Url.Action("InfoList","index")?Type=新闻" >更多></a>
                    </div>
                </div>
                <ul class="am-padding-left-0 list-unstyled">

                    @{ List<Information> list = ViewBag.newsInfos as List<Information>;}

                    @foreach (Information item in list)
                    {
                        <li>
                            <div class="row">
                                <div class="col-lg-10 am-padding-left-0 am-text-truncate">
                                    <a href="@Url.Action("InfoDetail","index")?ID=@item.ID" class="text-muted">@item.Name</a>
                                </div>
                                <div class="col-lg-2 grey text-right am-padding-right-0">
                                    @item.CreateTime.ToString("yyyy-MM-dd")
                                </div>
                            </div>
                        </li>
                    }

                </ul>
            </div>
            <div class="col-lg-6">
                <div class="news-head-w clearfix">
                    <div class="pull-left">
                        <div class="title black am-text-lg am-padding-vertical-sm am-padding-right-lg">
                            最新资讯
                        </div>
                    </div>
                    <div class="pull-right am-padding-top-lg">
                        <a href="@Url.Action("InfoList","index")?Type=资讯">更多></a>
                    </div>
                </div>
                <ul class="am-padding-left-0 list-unstyled">
                    @{ List<Information> list1 = ViewBag.zixunInfos as List<Information>;}
                    @foreach (Information item in list1)
                    {
                        <li>
                            <div class="row">
                                <div class="col-lg-10 am-padding-left-0 am-text-truncate">
                                    <a href="@Url.Action("InfoDetail","index")?ID=@item.ID"  class="text-muted">@item.Name</a>
                                </div>
                                <div class="col-lg-2 grey text-right am-padding-right-0">
                                    @item.CreateTime.ToString("yyyy-MM-dd")
                                </div>
                            </div>
                        </li>
                    }

                </ul>
            </div>
        </div>
    </div>
</div>
<!--图文-->
@*<div class="am-padding-lg mediaBox-w">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 am-margin-vertical-lg">
                <a href="#" target="_blank" class="row center-block">
                    <div class="col-lg-5">
                        <img src="~/Content/img/2.jpg" width="201" height="89" />
                        <div class="date white text-center">
                            <div class="am-text-xxxl">
                                21
                            </div>
                            <div class="am-text-sm">
                                2016.03
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="title am-text-default am-padding-bottom-sm">
                            文字标题
                        </div>
                        <div class="am-padding-top-xs grey am-text-xs description">
                            文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 am-margin-vertical-lg">
                <a href="#" target="_blank" class="row center-block">
                    <div class="col-lg-5">
                        <img src="~/Content/img/2.jpg" width="201" height="89" />
                        <div class="date white text-center">
                            <div class="am-text-xxxl">
                                21
                            </div>
                            <div class="am-text-sm">
                                2016.03
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="title am-text-default am-padding-bottom-sm">
                            文字标题
                        </div>
                        <div class="am-padding-top-xs grey am-text-xs description">
                            述文字描述文字描述文字描述文字描述文字描述文字描述
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 am-margin-vertical-lg">
                <a href="#" target="_blank" class="row center-block">
                    <div class="col-lg-5">
                        <img src="~/Content/img/2.jpg" width="201" height="89" />
                        <div class="date white text-center">
                            <div class="am-text-xxxl">
                                21
                            </div>
                            <div class="am-text-sm">
                                2016.03
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="title am-text-default am-padding-bottom-sm">
                            文字标题
                        </div>
                        <div class="am-padding-top-xs grey am-text-xs description">
                            文字描述字描述文字描述文字描述
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>*@

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <img src="img/time_icon.png" alt="" width="25px" />
            <span class="time-des">工作时间：8:15-17:15</span>
        </div>
        <div class="col-lg-6">
            <img src="img/map_icon.png" alt="" width="25px" />
            <span class="address-des">地址：青岛市市北区连云港路 33 号商务路 B 座1230.</span>
        </div>
    </div>
</div>