@model UnInsuredPeople
@section Footer{
    <script src="~/Content/lib/laydate-master/laydate.dev.js"></script>
    <script type="text/javascript">
        $(function () {
            if ('@Request.Params["type"]' == 1) {
                $('input,select,textarea', $('form')).attr('disabled', true);
                $('button', $('form')).css('display', 'none');
            }

        })

        laydate({
            elem: '#J-xl'
        });
    </script>
    <style>
        span.lineheight {
            line-height: 31px;
        }
    </style>
}
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 财务管理 <span class="c-gray en">&gt;</span> 社保公积金交费<a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="pd-20">
    <form action='@Url.Action("Payment")' method="post" class="form form-horizontal" id="form-article-add">
        @{
            var people = ViewBag.SocialSecurityPeople as SocialSecurityPeople;
            var ssdetail = ViewBag.SocialSecurityDetail as SocialSecurity;
            var afdetail = ViewBag.AccumulationFund as AccumulationFund;
            var accountinfo = ViewBag.AccountInfo as AccountInfo;
        }
        <div class="row cl">
            <label class="form-label col-2">客户名称：</label>
            <div class="formControls col-2">
                <input type="hidden" name="peopleid" value="@people.SocialSecurityPeopleID" />
                @people.SocialSecurityPeopleName
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-2">交费方式：</label>
            <div class="formControls col-2">
                <span class="select-box" style="width: 270px;">
                    <select class="select" name="PayMethod">
                        <option value="现金">现金</option>
                    </select>
                </span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-2">缴费月数：</label>
            <div class="formControls col-2">
                社保 @ssdetail.PayMonthCount 个月
                公积金 @afdetail.PayMonthCount 个月
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-2">应交金额：</label>
            <div class="formControls col-2">
                社保费 @Model.SocialSecurityAmount.ToString("0.00") + 服务费 @Model.socialSecurityFirstBacklogCost.ToString("0.00") = @((Model.SocialSecurityAmount + Model.socialSecurityFirstBacklogCost).ToString("0.00"))
                公积金 @Model.AccumulationFundAmount.ToString("0.00") + 服务费 @Model.AccumulationFundFirstBacklogCost.ToString("0.00") = @((Model.AccumulationFundAmount + Model.AccumulationFundFirstBacklogCost).ToString("0.00"))
            </div>
            <label class="form-label col-2">基数：</label>
            <div class="formControls col-2">
                社保 @Model.SocialSecurityBase.ToString("0.00")
                公积金 @Model.AccumulationFundAmount.ToString("0.00")
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-2">账户余额：</label>
            <div class="formControls col-2">
                @accountinfo.Account.ToString("0.00")
            </div>
            <label class="form-label col-2">比例：</label>
            <div class="formControls col-2">
                社保 @Model.SSPayProportion
                公积金 @Model.AFPayProportion
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-2">实际交费：</label>
            <div class="formControls col-2">
                <input type="hidden" name="Amount" value="@((Model.SocialSecurityAmount + Model.socialSecurityFirstBacklogCost) + (Model.AccumulationFundAmount + Model.AccumulationFundFirstBacklogCost))" />
                @(((Model.SocialSecurityAmount + Model.socialSecurityFirstBacklogCost) + (Model.AccumulationFundAmount + Model.AccumulationFundFirstBacklogCost)).ToString("0.00"))
            </div>
            <label class="form-label col-2">每月应交：</label>
            <div class="formControls col-2">
               社保 @((Model.SocialSecurityBase * Model.SSPayProportion / 100).ToString("0.00"))
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-2">服务起始日期：</label>
            <div class="formControls col-2">
               社保 @Model.SSPayTime.ToString("yyyy/MM")
               公积金 @Model.AFPayTime.ToString("yyyy/MM")
            </div>
        </div>
        <div class="row cl">
            <div class="col-10 col-offset-2">
                <button class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 交费</button>
            </div>
        </div>
    </form>
</div>