@model SocialSecurity
@section Footer{
    <style>
        span.lineheight {
            line-height: 31px;
        }
    </style>
    <script>
        $(function () {
            $(".Huialert.Huialert-info").fadeOut(2000);

            @*//审核通过
            $(".action-complete").click(function () {
                if ($.trim($("[name='SocialSecurityNo']").val()) == '') {
                    layer.msg("请填写社保号");
                    return;
                }


                layer.confirm('确定要进行业务办结吗？', {
                    btn: ['确定', '取消'] //按钮
                }, function () {
                    var SocialSecurityPeopleID = '@Request["SocialSecurityPeopleID"]';
                    var SocialSecurityNo = $.trim($("[name='SocialSecurityNo']").val());
                    var index = layer.load(1, {
                        shade: [0.1, '#000']
                    });
                    //提交办结
                    $.ajax({
                        url: "@Url.Action("Complete", "SocialSecurity")",
                        data: { "SocialSecurityPeopleID": SocialSecurityPeopleID, "SocialSecurityNo": SocialSecurityNo },
                        dataType: "json",
                        type: "POST",
                        success: function (response) {
                            layer.close(index);
                            if (response.status) {
                                layer.msg("办结成功");
                                refresh();
                            } else {
                                layer.msg(response.Message);
                            }
                        },
                        error: function () {
                            layer.close(index);
                            layer.msg("出现异常");
                        }
                    });
                });
            });*@
        })
    </script>
}
<div ())="pd-20">
    <form action='@Url.Action("SaveSocialSecurityNo","SocialSecurity")' method="post" class="form form-horizontal" id="form-article-add">

        @Html.HiddenFor(n => n.SocialSecurityPeopleID)

        <div class="row cl" style="text-align:center;">
            <label style="font-size:24px;font-weight:bold;"> @(Model.SocialSecurityPeopleName)的社保业务信息</label>
        </div>
        <div class="row cl">
            <label class="form-label col-3">客户社保号：</label>
            <div class="formControls col-2">
                <input type="text" class="input-text" value="@Model.SocialSecurityNo" placeholder="请填写社保号" id="" name="SocialSecurityNo">
            </div>
            <label class="form-label col-3">基数：</label>
            <div class="formControls col-2">
                <span class="lineheight">@Model.SocialSecurityBase</span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-3">比例：</label>
            <div class="formControls col-2">
                <span class="lineheight">@Model.PayProportion%</span>
            </div>
            <label class="form-label col-3">参保地：</label>
            <div class="formControls col-2">
                <span class="lineheight">@Model.InsuranceArea.Replace("|", "")</span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-3">每月交：</label>
            <div class="formControls col-2">
                <span class="lineheight">@Convert.ToDecimal(Model.SocialSecurityBase * Model.PayProportion / 100)</span>
            </div>
            <label class="form-label col-3">起缴时间：</label>
            <div class="formControls col-2">
                <span class="lineheight">@Model.PayTime.Value.ToString("yyyy/MM")</span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-3">当前状态：</label>
            <div class="formControls col-2">
                <span class="lineheight">@EnumExt.GetEnumCustomDescription((SocialSecurityStatusEnum)Convert.ToInt32(Model.Status))</span>
            </div>

        </div>

        <div class="row cl">
            <div class="col-10 col-offset-3">
                <button class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
                @*<button class="btn btn-primary radius action-complete" type="button"><i class="Hui-iconfont">&#xe6e1;</i> 审核通过</button>*@
            </div>
        </div>
    </form>
</div>